* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.external {
    width: 20px;
    height: 20px;
}

.image {
    width: 350px;
    height: 350px;
    transform: scale(1.14);
    margin: 30px 0px 20px 20px;
}


.personal {
    display: flex;
    background-color: rgb(38, 171, 208);
    padding: 30px;
}

.content {
    padding: 30px;
    margin: 30px 20px 20px 0px;
    background-color: white;
}

.links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.work {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.workphoto {
    background-color: bisque;
    width: 400px;
    height: 400px;
}
.downcontact{
    display: flex;
    gap: 10px;
}
.title {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h3 {
    font-size: 22px;
}

h2 {
    padding: 20px;
    font-size: 30px;
}

p {
    font-size: 19px;
}

h1 {
    padding: 10px;
}

.contact {
    width: 30px;
    height: 30px;
}

.hell {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(38, 171, 208);
}

@media screen and (max-width: 500px) {

    .personal {
        flex-direction: column;
    }

    .image {
        width: 300px;
        height: 300px;
        margin: 3px;
        transform: scale(1);
    }

    .content {
        padding: 10px;
        margin: 10px;
    }

    .work {
        grid-template-columns: 400px;
    }

    .footer {
        flex-direction: column;
    }

    .workphoto {
        width: 1fr;
        padding: 10px;
    }

    p {
        font-size: 15px;
    }
}

@media screen and (min-width: 500px ) and (max-width:1000px) {


    .image {
        width: 300px;
        height: 300px;
        margin: 10px;
        transform: scale(1.09);

    }

    .content {
        padding: 10px;
        margin: 10px;
    }

    .work {
        grid-template-columns: 300px 300px;
    }


    .workphoto {
        width: 300px;
        height: 300px;
        padding: 10px;
    }

    p {
        font-size: 15px;
    }
}
