@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text&display=swap');

body {
    background-color: black;
    color: white;
}

.cardholder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    /* padding: 1rem; */
}

.button {
    box-shadow: 2px 2px 5px whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ad8585;
    /* margin: 10px; */
}

.pokemon {
    font-size: 30px;
    /* background-color: #b6bdbb; */
    color: rgb(185, 231, 45);
}

h1,
p,
select {
    text-align: center;
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

h1 {
    font-size: 37px;
    text-decoration: underline;
}
.middle{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 765px) {
    .cardholder {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        padding: 0.5rem;
    }

    img {
        width: 50px;
        height: 50px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .pokemon {
        font-size: 10px;
    }
    select{
        font-size: 10px;
        padding: 4px;
        width: 20vw;
    }

}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

select {
    /* width: 30vw; */
    margin-bottom:10px ;
    /* padding: 10px; */
    font-size: 20px;
    padding: 0;
    height: 5vh;
    background-color: black;
    color: white;
}
.winner{
    font-size: 25px;
}