*{
    box-sizing: border-box;
}
body{
    /* text-align: center; */
    background-color: rgb(0,0,0,0.5);
    color: rgba(7, 44, 44, 0.9);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}
h1{
    font-size: 2.5em;
}
.container{
    margin: 2%;
    width: 35%;
    min-width: 35%;   
    padding: 2%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* flex-shrink: 0; */
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    border: 2.5px solid rgb(153, 202, 206);
    border-radius: 10px;
    /* color: rgb(225, 31, 31) ; */
    color: black;
}
.container button{
    padding: 2%;
    margin: 1%;
    border: 2.5px solid rgb(120, 80, 23);
    border-radius: 10px;
    min-width: 30%;
    background-color: rgb(157, 218, 157);
    /* font-size: 2em; */
}
.para{
    border-radius: 2px solid green; 
    font-size: 1.7em;
    text-align:right ;
    margin: 2%;
    padding: 3%;
    min-height: 2em;
    font-weight: bolder;
}