.uler li{
    padding: 10px;
}
.uler ul {
    width: 400px;
    list-style-type: none;
    font-size: 20px;
    /* text-decoration: none; */
}
.uler a{
    text-decoration: none;
}
.uler a:hover{
    font-size: 22px;
    transition: linear 0.5  ;
}