* {
    margin: 30px;
    padding: 2px;
    margin-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: #aab;
}
div {
    width: 750px;
}

h1 {
    color: #2d46d1;
    font-size: 45px;
    text-decoration: underline;
}

.img img{
    /* width: 750px; */
    width: 550px;
    height: 450px;
    margin: -1px;
    padding: 0;
}

h2 {
    color: #a11f1f;
    text-decoration: underline;
}

.desc {
    background-color: rgb(230, 230, 127);
    border-radius: 5px;
}

.ing {
    background-color: #ddd;
}

.ing ul {
    padding: 0;
}

.step {
    background-color: #fef;
}

.step ol {
    padding: 0;
}

.top {
    background-color: rgb(0, 0, 0);
    width: 53px;
    height: 20px;
    border-radius: 5px;
    padding: 0;
}

.top a {
    text-decoration: none;
    font-size: 20px;
    margin: .6px;
    color: white;
}